@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100%;
    background-color: black;
    font-family: Roboto;

    --top-bars-padding: 15px 75px 10px 50px;
    --grey: #e2e8f0;
    --blue: #1992d4;
}

.container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1.5fr repeat(2, 6fr);
}

.sidebar {
    background-color: var(--blue);
    grid-row: 1/-1;
    grid-column: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar .items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .item svg {
    fill: #ffffff;
    height: 60px;
    width: 60px;
}

.sidebar .item > div {
    font-weight: bold;
    color: white;
}

.sidebar .title > div {
    font-size: 30px;
}

.sidebar .item:not(.title) svg {
    padding: 0px 15px;
    height: 30px;
}

.sidebar .item:not(.title) > div {
    font-size: 20px;
}

.navbar {
    background-color: white;
    grid-row: 1;
    grid-column: 2 / -1;

    display: flex;
    padding: var(--top-bars-padding);

    gap: 15vw;
}

.navbar .search {
    display: flex;
    align-items: center;
    gap: 10px;

    flex: 1;
}

.navbar img {
    width: 25px;
    height: 25px;
}

.navbar input {
    border-radius: 20px;
    border: none;
    background-color: var(--grey);
    height: 30px;

    padding: 10px;
    flex: 1;
}

.navbar input:focus {
    outline: none;
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.navbar .right .name {
    font-weight: bold;
    font-size: 16px;
}

.welcome-bar {
    background-color: white;
    grid-row: 2;
    grid-column: 2 / -1;

    padding: var(--top-bars-padding);

    display: flex;
    justify-content: space-between;
}

.welcome-bar .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.welcome-bar .left {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.welcome-bar .greeting {
    line-height: 1.5;
}

.welcome-bar .greeting > :nth-child(1) {
    font-size: 14px;
} 

.welcome-bar .greeting > :nth-child(2) {
    font-size: 20px;
} 

.welcome-bar .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-bar .buttons button {
    color: white;
    background-color: var(--blue);
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
}

.projects {
    background-color: var(--grey);
    grid-row: 3 / -1;
    grid-column: 2;
    padding: 30px 5px 50px 30px;
}

.projects > .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px 30px;
}

.projects > .heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.cards > .card {
    height: 180px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid #f0b42a;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 2px 2px 10px 0 grey;
}

.card > .content > .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card > .content > .text {
    color: #646464;
    font-size: 14px;
}

.card > .icons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.card > .icons > img {
    width: 25px;
    height: 25px;
}

.announcements {
    background-color: var(--grey);
    grid-row: 3;
    grid-column: 3;
}

.trending {
    background-color: var(--grey);
    grid-row: 4;
    grid-column: 3;
}