* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100%;
    background-color: black;
}

.container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1.5fr repeat(2, 6fr);
}

.sidebar {
    background-color: blue;
    grid-row: 1/-1;
    grid-column: 1;
}

.navbar {
    background-color: lightgrey;
    grid-row: 1;
    grid-column: 2 / -1;
}

.welcome-bar {
    background-color: grey;
    grid-row: 2;
    grid-column: 2 / -1;
}

.projects {
    background-color: darkgrey;
    grid-row: 3 / -1;
    grid-column: 2;
}

.announcements {
    background-color: lightgreen;
    grid-row: 3;
    grid-column: 3;
}

.trending {
    background-color: green;
    grid-row: 4;
    grid-column: 3;
}