@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100%;
    background-color: black;
    font-family: Roboto;
}

.container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1.5fr repeat(2, 6fr);
}

.sidebar {
    background-color: blue;
    grid-row: 1/-1;
    grid-column: 1;
}

.navbar {
    background-color: white;
    grid-row: 1;
    grid-column: 2 / -1;

    display: flex;
    padding: 15px 75px 15px 50px;

    gap: 15vw;
}

.navbar .search {
    display: flex;
    align-items: center;
    gap: 10px;

    flex: 1;
}

.navbar img {
    width: 25px;
    height: 25px;
}

.navbar input {
    border-radius: 20px;
    border: none;
    background-color: #e2e8f0;
    height: 30px;

    padding: 10px;
    flex: 1;
}

.navbar input:focus {
    outline: none;
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.navbar .right .name {
    font-weight: bold;
    font-size: 16px;
}

.welcome-bar {
    background-color: grey;
    grid-row: 2;
    grid-column: 2 / -1;
}

.projects {
    background-color: darkgrey;
    grid-row: 3 / -1;
    grid-column: 2;
}

.announcements {
    background-color: lightgreen;
    grid-row: 3;
    grid-column: 3;
}

.trending {
    background-color: green;
    grid-row: 4;
    grid-column: 3;
}